<ul ngbNav class="navbar navbar-inverse">
  <h3 class="navbar-brand">Green <span>Touch</span></h3>
	<li [routerLink]="'/about'" ngbDropdown class="nav-item">
    <a (click)="false" class="nav-link" ngbDropdownToggle class="text-light">About us</a>
  <div ngbDropdownMenu  class="p-3 mb-2 bg-success text-white">
    <button ngbDropdownItem >Our story</button>
    <button ngbDropdownItem>Our leadership team</button>
    <button ngbDropdownItem>Others about us</button>
    <div class="dropdown-divider"></div>
    <button ngbDropdownItem>Latest news</button>
  </div>
	</li>
	<li [routerLink]="'/careers'" class="nav-item">
		Careers
	</li>
	<li [routerLink]="'/contact'" class="nav-item">
		Contact
	</li>

</ul>


