
<div class="wrapper">
  <button [routerLink]="'/careers'" type="button" class="btn btn-success">Back to Careers</button>
  <h3>{{career.name}}</h3>
  <p><i class="bi bi-arrow-right-circle"></i> {{career.places}}</p>
  <hr/>
  <h4>Job Description</h4>
  <p>{{career.description}}</p>

  <h4>Key Responsibilities:</h4>
  <ul *ngFor="let resp of career.responsibilities">
    <li>{{resp}}</li>
  </ul>
  <h4>Required Qualifications:</h4>
  <ul *ngFor="let qualification of career.qualifications">
    <li>{{qualification}}</li>
  </ul>
  <button type="submit" class="btn btn-success">Apply for this job</button>
</div>
